#map {
}
.legend{
    font-size: 11px;
    color: gray;
    margin: 15px 0 0 0;
    padding: 5px 5px 0 5px;
}
.legends label{
    margin: 0 10px;
}

.table th, .table td , .btn{
        padding: 0.25rem 0.75rem;
        vertical-align: middle;
}

.table tbody th{
    width: 20%;
}
.app-header.navbar .navbar-brand {
    background-color: #fff;
    background-image: url("../img/logo-word.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130px auto;
}
